{% verbatim %}
<div class="column">
    <div class="ui card">
    <div class="content">
        <i class="right floated meta">{{ status }}</i>
        <div class="header">{{ name }}</div>
        <div class="description">
            <p>{{ description }}</p>
        </div>
    </div>
    <div class="extra content">
        <span class="left floated star">Budget</span>
        <span class="right floated star">Php {{ budget }}</span>
    </div>
        <div class="extra content">
          <a href="{{ url }}">
            <span class="right floated star">
                Details
                <i class="long arrow right icon"></i>
            </span>
          </a>
        </div>
    </div>
</div>
{% endverbatim %}
