{% extends "base.html" %}
{% block page_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}core/css/base.css" media="screen" title="no title" charset="utf-8">
{% endblock %}

{% block page_content %}
<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
        {% include 'nav.html' %}
        <div class="ui text container">
            <h1 class="ui inverted huge purple header title">Event Plex</h1>
            <h2>Easy event planning. </h2>
        </div>
        <div class="ui container horizontal-space">
        </div>
    </div>
    <div class="ui container horizontal-space">
    </div>
    <div class="ui container">
        <div class="ui three column grid entry-list grid-list">
        </div>
        <div class="ui three column grid services-list grid-list">
        </div>
    </div>
</div>
<div class="ui small basic test modal transition">
    <div class="ui header">
      <a class="ui facebook button" href="auth/login/facebook/?next=/">
        <i class="facebook icon"></i>
        Log In
      </a>
      You must be logged in to continue.
    </div>
    <div class="actions">
      <div class="ui red basic cancel inverted button">
        <i class="remove icon"></i>
        Cancel
      </div>
    </div>
  </div>
<script type="x-tmpl-mustache" id="event-widget">
  {% include 'home/event_widget.html' %}
</script>
<script type="x-tmpl-mustache" id="service-widget">
  {% include 'home/service_widget.html' %}
</script>
{% endblock %}
{% block page_javascript %}
  <script type="text/javascript" src="{{STATIC_URL}}events/js/home.js"></script>
{% endblock %}
