{% verbatim %}
<div class="column">
    <div class="ui card">
      <div class="content">
          <div class="header">{{ name }}</div>
          <div class="description">
              <p>{{ description }}</p>
          </div>
      </div>
      <div class="content">
          <h5>Providers</h5>
          {{ #providers}}
            <a href="{{ url }}">{{ name }}</a>
          {{ /providers}}
          {{ ^providers }}
            No providers.
          {{ /providers }}
      </div>
    </div>
</div>
{% endverbatim %}
