<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page_title %} EventPlex {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}core/css/base.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}core/css/semantic.min.css">
    {% block page_css %}
    {% endblock %}
  </head>
  <body>
    {% block page_content %}{% endblock %}
  </body>
  <script src="{{ STATIC_URL }}core/js/require/require.js"></script>
  <script src="{{ STATIC_URL }}core/js/require/require-config.js"></script>
  <script type="text/javascript">
        {% if user.is_authenticated %}
            window.authenticated = true;
            window.user = {{ user.pk }};
            window.user_email = "{{ user.email }}";
        {% else %}
            window.authenticated = false;
        {% endif %}

  </script>
  {% block page_javascript %}{% endblock %}
  <script>
    require([
      'model', 'jquery', 'mustache', 'strftime', 'semantic',
    ],
    function(Model, $, Mustache, strftime, semantic) {
        $('.item[data-intent="profile"], .item[data-intent="profile-services"]').on('click', function(e) {
          e.preventDefault();
          window.location = $(this).attr('href');
        });
        $('.ui.dropdown.user').dropdown();
    });
  </script>
</html>
