{% extends 'base.html' %}
{% block page_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}core/css/base.css" media="screen" title="no title" charset="utf-8">
{% endblock %}
{% block page_content %}
<div class="pusher">
    {% include 'nav.html' %}
    <div class="ui container horizontal-space">
    </div>
    <div class="ui container segment">
        <div class="ui divided items">
          <div class="item">
            <div class="content">
                <div class="meta right floated">
                    <span class="cinema">{{ object.event_date.date }}</span>
                </div>
                <a class="header">{{ object.name }}</a>
                <div class="meta">
                    <span class="cinema">{{ object.owner_email}}</span>
                </div>
                  <div class="description">
                    <p>{{ object.description }}</p>
                  </div>
              <div class="extra">
                  <div class="meta">
                    <span class="cinema meta">Php {{ object.budget}}</span>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <h1>{{object.status}}</h1>
        <!-- {% if 'DONE' is rq.status %}
            {% for rq in object.required_services.all %}
                <h1>{{ rq.service.name }}</h1>
                <h2>{{rq.service_provider}}</h2>
            {% endfor %}
        {% elif 'UPCOMING' is rq.status %}
            {% for rq in object.application.all %}
                <h2>{{rq.service_provider}}</h2>
            {% endfor %}
        {% endif %} -->
        {% for rq in object.required_services.all %}
            <p>{{ rq.service.name }} by {{ rq.service_provider|default:"Open for application" }}</p>
        {% endfor %}

    </div>
    <div class="ui container horizontal-space">
    </div>
</div>

<!-- <form method="POST" class="post-form">{% csrf_token %}
    {{ form }}
    <button type="submit" class="save btn btn-default">Save</button>
</form> -->

{% endblock %}
