{% extends 'base.html' %}
{% block page_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}core/css/base.css" media="screen" title="no title" charset="utf-8">
{% endblock %}
{% block page_content %}
<div class="pusher">
    {% include 'nav.html' %}
    <div class="ui container horizontal-space">
    </div>
    <div class="ui container">
        <div class="ui container">
            <form class="ui form" action="/event/create/" method="post">
              {% csrf_token %}
              <h3>Event Form</h3>
              <div class="field">
                <label>Name of the event</label>
                <div class="fields">
                  <div class="field">
                    <input type="text" name="name" placeholder="Event name" required>
                  </div>
                </div>
                <label>Contact Information</label>
                <div class="two fields">
                  <div class="field">
                    <input type="email" name="owner_email" placeholder="Email Address" required>
                  </div>
                  <div class="field">
                    <input type="text" name="contact_number" placeholder="Contact Number" required>
                  </div>
                </div>
              </div>
              <div class="field">
                <label>Description</label>
                <textarea style="margin-top: 0px; margin-bottom: 0px; height: 180px;" name="description" required></textarea>
              </div>
              <div class="field">
                <label>Budget and Duration</label>
                <div class="two fields">
                  <div class="field">
                    <input type="number" name="open_duration" placeholder="Open Duration">
                  </div>
                  <div class="field">
                  </div>
                  <input type="number" name="budget" placeholder="Budget" required>
                </div>
              </div>
              <div class="field">
                  <input type="hidden" name="event_date" placeholder="">
                  <label>Event Date</label>
                  <div class="three fields">
                      <div class="field">
                        <select class="ui fluid search dropdown" name="month" required>
                          <option value="">Month</option>
                          <option value="1">January</option>
                          <option value="2">February</option>
                          <option value="3">March</option>
                          <option value="4">April</option>
                          <option value="5">May</option>
                          <option value="6">June</option>
                          <option value="7">July</option>
                          <option value="8">August</option>
                          <option value="9">September</option>
                          <option value="10">October</option>
                          <option value="11">November</option>
                          <option value="12">December</option>
                        </select>
                      </div>
                      <div class="field">
                          <select class="ui fluid search dropdown" name="day" required>
                            <option value="">Days</option>
                            {% for i in "x"|rjust:"31" %}
                            <option value="{{forloop.counter}}">{{forloop.counter}}</option>
                            {% endfor %}
                          </select>
                      </div>
                      <div class="field">
                        <input type="number" name="year" placeholder="Year" required>
                      </div>
                  </div>
              </div>
              {% for hidden in form.hidden_fields %}
              {{ hidden }}
              {% endfor %}
              <div class="services-field">
                <div class="field">
                  <label>Services required</label>
                  <div class="three fields">
                    <div class="field">
                      <select class="ui fluid search dropdown service" name="service">
                        <option value="">Service</option>
                        {% for service in services %}
                        <option value="{{service.pk}}">{{ service.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="field">
                      <select class="service-provider" name="service-provider">
                        <option value="">Provider</option>
                      </select>
                    </div>
                    <div class="field">
                      <textarea name="remarks" rows="8" cols="40" placeholder="Add remarks" class="remarks">""</textarea>
                    </div>
                    <i class="large add square icon" style="cursor: pointer"></i>
                  </div>
                </div>
              </div>
              <button class="ui button" tabindex="0">Create Event</button>
            </form>
            <div class="field service-provider-template">

              <label>Services required</label>
              <div class="three fields">
                <div class="field">
                  <select class="ui fluid search dropdown service" name="service">
                    <option value="">Service</option>
                    {% for service in services %}
                    <option value="{{service.pk}}">{{ service.name }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="field">
                  <select class="service-provider" name="service-provider">
                    <option value="">Provider</option>
                  </select>
                </div>
                <div class="field">
                  <textarea name="remarks" rows="8" cols="40" placeholder="Add remarks" class="remarks">""</textarea>
                </div>
                <i class="large add square icon" style="cursor: pointer"></i>
              </div>
            </div>
        </div>
    </div>
    <div class="ui container horizontal-space">
    </div>
</div>

<!-- <form method="POST" class="post-form">{% csrf_token %}
    {{ form }}
    <button type="submit" class="save btn btn-default">Save</button>
</form> -->
{% endblock %}
{% block page_javascript %}
  <script type="text/javascript" src="{{STATIC_URL}}/events/js/event_create.js"></script>
{% endblock %}
