<div class="ui segment inverted">
    <div class="ui large secondary inverted pointing menu">
        <div class="left item">
        {% if page == 'home' %}
          <a class="active item" data-menu="event">Events</a>
          <a class="item" data-menu="catalog">Catalog</a>
        {% else %}
          <a href="/" class="item">
            <i class="home icon"></i> <span class="ui purple">Event Plex</span>
          </a>
        {% endif %}
        </div>
        <div class="right item">
            <div class="ui buttons">
                <a class="ui inverted button login-required" href="{% url 'event-create' %}">Create Event</a>
                    <div class="or"></div>
                <a class="ui inverted button login-required" href="{% url 'provider-create' %}">Offer Service</a>
            </div>
            {% if user.is_authenticated %}
                <div class="ui dropdown user">
                  <div class="text">{{user.get_full_name}}</div>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                    <a href="{% url 'profile' user.pk %}" class="item" data-intent="profile">My Events</a>
                    <a href="{% url 'profile-services' user.pk %}" class="item" data-intent="profile-services">My Services</a>
                    <a class="item" href="{% url 'logout' %}">Log out</a>
                  </div>
                </div>
            {% else %}
                <a class="ui facebook button" href="auth/login/facebook/?next=/">
                  <i class="facebook icon"></i>
                  Log In
                </a>
            {% endif %}
        </div>
    </div>
</div>
