{% extends 'base.html' %}
{% block page_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}core/css/base.css" media="screen" title="no title" charset="utf-8">
{% endblock %}
{% block page_content %}
<div class="pusher">
    {% include 'nav.html' %}
    <div class="ui container horizontal-space">
    </div>
    <div class="ui container segment">
      <table class="ui celled table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Service</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        </table>
    </div>
    <div class="ui container horizontal-space">
    </div>
</div>
<script type="x-tmpl-mustache" id="service-record-template">
  {% verbatim %}
  <tr>
    <td><a href="{{ url }}">{{ name }}</a></td>
    <td>{{ service.name }}</td>
    <td>{{ description }}</td>
  </tr>
  {% endverbatim %}
</script>
{% endblock %}
{% block page_javascript %}
<script type="text/javascript" src="{{STATIC_URL}}/events/js/profile_services.js"></script>
{% endblock %}
