{% extends 'base.html' %}
{% block page_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}core/css/base.css" media="screen" title="no title" charset="utf-8">
{% endblock %}
{% block page_content %}
<div class="pusher">
    {% include 'nav.html' %}
    <div class="ui container horizontal-space">
    </div>
    <div class="ui container segment">
        <div class="ui divided items">
          <div class="item">
            <div class="content">
                <div class="meta right floated">
                    <span class="cinema"></span>
                </div>
                <a class="header">{{ object.name }}</a>
                <div class="meta">
                    <span class="cinema">{{ object.owner_email }}</span>
                    <span class="cinema">{{ object.contact_number }}</span>
                </div>
                  <div class="description">
                    <p>{{ object.description }}</p>
                  </div>
            </div>
          </div>
        </div>
    </div>
    <div class="ui container horizontal-space">
    </div>
</div>

{% endblock %}
