{% extends 'base.html' %}
{% block page_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}core/css/base.css" media="screen" title="no title" charset="utf-8">
{% endblock %}
{% block page_content %}
<div class="pusher">
    {% include 'nav.html' %}
    <div class="ui container horizontal-space">
    </div>
    <div class="ui container">
        <div class="ui container">
            <form class="ui form" action="{% url 'provider-create' %}" method='post'>
              {% csrf_token %}
              <h3>Provider Form</h3>
              <div class="field">
                <label>Name</label>
                  <input type="text" name="name" placeholder="Name" required>
              </div>
              <div class="field">
                <label>Contact Information</label>
                <div class="two fields">
                  <div class="field">
                    <input type="email" name="owner_email" placeholder="Email Address" required>
                  </div>
                  <div class="field">
                    <input type="text" name="contact_number" placeholder="Contact Number" required>
                  </div>
                </div>
              </div>
              <div class="field">
                <label>Description</label>
                <textarea style="margin-top: 0px; margin-bottom: 0px; height: 180px;" name="description" required></textarea>
              </div>
              <div class="field">
                  <label>Type of Service</label>
                  <div class="field">
                    <select class="ui fluid search dropdown" name="service" required>
                    {% for service in services %}
                      <option value="{{service.pk}}">{{service.name}}</option>
                    {% endfor %}
                    </select>
                  </div>
              </div>

              <input class="ui button" tabindex="0" value="Submit Information" type="submit">
            </form>
        </div>
    </div>
    <div class="ui container horizontal-space">
    </div>
</div>

<!-- <form method="POST" class="post-form">{% csrf_token %}
    {{ form }}
    <button type="submit" class="save btn btn-default">Save</button>
</form> -->

{% endblock %}
